:root {
  --lilac-500: #8a5fe8;
  --lilac-600: #7342d4;
  --lilac-700: #5e2dbb;

  --green-400: #2aa39d;
  --green-500: #189991;
  --green-600: #087a78;
  --green-glow: rgba(42, 163, 157, 0.28);
}

/* O fundo escuro que cobre a tela toda */
.modalMenu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center; /* Centraliza a janela perfeitamente */
  z-index: 9999;
}

/* A janelinha em si */
.modalMenu-content {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 80px;
  margin-top: 70px;
  background: white;
  width: 90%;
  height: 120px;
  width: 80px;
  border-radius: 8px;
  padding: 6px;

  transform-origin: top right;
  transition: transform 0.7s ease-in-out;

  animation: slideUp 0.3s ease-out forwards;
}

.modalMenu-body {
  display: grid;
  justify-items: start;
  height: 100%;
  border: 2px solid var(--lilac-200);
  border-radius: 10px;
  padding: 12px 7px;
  font-size: 10px;
  font-family: inherit;
  outline: none;
}
.perfil,
.sair {
  background: transparent;
  color: var(--lilac-700);
  padding: 2px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

/* Animação para a janela "surgir" de baixo para cima */
@keyframes slideUp {
  from {
    transform:scale (0);
  }
  to {
    transform:scale (1);
  }
}
